* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 24px;
    width: 100%;
}

#content {
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 4fr 6fr;
}

.background-img {
    grid-row: 1 / 3;
    grid-column-start: 1;
}

img {
    height: 100%;
}

.tab-container {
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: 1fr 9fr;
    padding: 30px;
}

.tab-content {
    display: grid;
    grid-template-rows: 0.5fr 0.1fr 0.7fr 0.5fr 200px 0.3fr;
    justify-content: center;
    align-items: center;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-tab, .menu-tab, .contact-tab {
    background-color: rgb(179, 44, 44);
    color: white;
    font-weight: 800;
    height: 50px;
    width: 100%;
    border: 0;
    border-radius: 5px 20px 5px 20px;
}

.home-tab:hover, .menu-tab:hover, .contact-tab:hover {
    background-color: black;
    cursor: pointer;
    color: white;
    border: 1px solid black;
}

.title {
    display: grid;
    align-items: center;
    padding: 10px;
    font-size: 80px;
    font-weight: 800;
}

.phrase {
    display: grid;
    padding: 10px;
}

.phrase2, .phrase3 {
    display:flex;
    align-items: center;
    font-size: 20px;
    padding: 10px 50px;
}

.reserve-btn-container {
    display: grid;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.reserve-btn {
    background-color: rgb(179, 44, 44);
    color: white;
    font-size: 16px;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    font-weight: 800;
    border: 0;
    border-radius: 20px 5px 20px 5px;
}

.reserve-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    color: white;
    border: 1px solid black;
}

.info-container {
    display: flex;
}

.opening-hours-container, .location-container {
    display: grid;
    align-items: center;
    padding: 10px;
    font-weight: 800;
}

.opening-hours-info, .location-info {
    font-size: 20px;
    font-weight: normal;
}